body {
  background-color: #232536;
  font-family: 'Karla', sans-serif;
}

.component__description {
  background-color: #fff;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.description__title {
  margin-left: 1em;
  color: #2ab3b1;
}

.description__subtitle {
  margin-left: 1.2em;
  color: #bfdf33;
}

.description__text {
  margin-left: 1.5em;
  margin-bottom: 2em;
  color: #cfd3d9;
}

.component__price {
  max-width: 400px;
  background-color: #2ab3b1;
  border-bottom-left-radius: 10px;
}

.price__title, .list__title {
  margin-left: 1em;
  color: white;
}

.price__amount {
  margin-left: 1.2em;
  color: white;
}

.price__text {
  margin-left: 1.5em;
  color: white;
}

.button {
  margin-left: 2em;
  padding-left: 75px;
  padding-right: 75px;
  padding-top: 25px;
  padding-bottom: 25px;
  border-radius: 10px;
  background-color: #bfdf33;
  border: none;
  color: white;
  font-size: 16px;
  margin-bottom: 25px;
}

.component__list {
  background-color: #4ABEBD;
  max-width: 400px;
  border-bottom-right-radius: 10px;
}

.list__list {
  list-style-type: none;
  color: white;
}

@media screen and (min-width: 700px) {
  body {
    font-size: 16px;
    font-weight: 700;
  }

  .flex {
    max-width: 800px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
  }

  .flex > div {
    flex: 1 0 50%;
  }

  .flex > div:first-child {
    flex: 0 1 100%;
  }
}
